<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<dllmap dll="SDL3" os="windows" target="SDL3.dll"/>
	<dllmap dll="SDL3" os="osx" target="libSDL3.0.dylib"/>
	<dllmap dll="SDL3" os="linux,freebsd,netbsd" target="libSDL3.so.0"/>

	<dllmap dll="FNA3D" os="windows" target="FNA3D.dll"/>
	<dllmap dll="FNA3D" os="osx" target="libFNA3D.0.dylib"/>
	<dllmap dll="FNA3D" os="linux,freebsd,netbsd" target="libFNA3D.so.0"/>

	<dllmap dll="FAudio" os="windows" target="FAudio.dll"/>
	<dllmap dll="FAudio" os="osx" target="libFAudio.0.dylib"/>
	<dllmap dll="FAudio" os="linux,freebsd,netbsd" target="libFAudio.so.0"/>

	<dllmap dll="dav1dfile" os="windows" target="libdav1dfile.dll"/>
	<dllmap dll="dav1dfile" os="osx" target="libdav1dfile.1.dylib"/>
	<dllmap dll="dav1dfile" os="linux,freebsd,netbsd" target="libdav1dfile.so.0"/>

	<!-- Deprecated! -->
	<dllmap dll="SDL2" os="windows" target="SDL2.dll"/>
	<dllmap dll="SDL2" os="osx" target="libSDL2-2.0.0.dylib"/>
	<dllmap dll="SDL2" os="linux,freebsd,netbsd" target="libSDL2-2.0.so.0"/>
</configuration>
