<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<dllmap dll="SDL2.dll" os="windows" target="SDL2.dll"/>
	<dllmap dll="SDL2.dll" os="osx" target="libSDL2-2.0.0.dylib"/>
	<dllmap dll="SDL2.dll" os="linux" target="libSDL2-2.0.so.0"/>

	<dllmap dll="SDL2_image.dll" os="windows" target="SDL2_image.dll"/>
	<dllmap dll="SDL2_image.dll" os="osx" target="libSDL2_image-2.0.0.dylib"/>
	<dllmap dll="SDL2_image.dll" os="linux" target="libSDL2_image-2.0.so.0"/>

	<dllmap dll="soft_oal.dll" os="windows" target="soft_oal.dll"/>
	<dllmap dll="soft_oal.dll" os="osx" target="libopenal.1.dylib"/>
	<dllmap dll="soft_oal.dll" os="linux" target="libopenal.so.1"/>

	<dllmap dll="MojoShader.dll" os="windows" target="MojoShader.dll"/>
	<dllmap dll="MojoShader.dll" os="osx" target="libmojoshader.dylib"/>
	<dllmap dll="MojoShader.dll" os="linux" target="libmojoshader.so"/>

	<dllmap dll="libvorbisfile.dll" os="windows" target="libvorbisfile.dll"/>
	<dllmap dll="libvorbisfile.dll" os="osx" target="libvorbisfile.3.dylib"/>
	<dllmap dll="libvorbisfile.dll" os="linux" target="libvorbisfile.so.3"/>

	<dllmap dll="libtheoraplay.dll" os="windows" target="libtheoraplay.dll"/>
	<dllmap dll="libtheoraplay.dll" os="osx" target="libtheoraplay.dylib"/>
	<dllmap dll="libtheoraplay.dll" os="linux" target="libtheoraplay.so"/>
</configuration>
